aiocache
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anthropic
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
async-timeout
attrs
Authlib
av
backoff
bcrypt
beautifulsoup4
bidict
bitarray
black
blinker
blis
boto3
botocore
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
colbert-ai
colorama
colorclass
coloredlogs
comm
compressed_rtf
confection
contourpy
cryptography
ctranslate2
cycler
cymem
dataclasses
dataclasses-json
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distro
dnspython
docker
docx2txt
duckduckgo_search
durationpy
easygui
ebcdic
ecdsa
einops
email_validator
emoji
et_xmlfile
eval_type_backport
Events
executing
extract-msg
fake-useragent
fastai
fastapi
fastapi-cli
fastcore
fastdownload
faster-whisper
fastprogress
filelock
filetype
Flask
Flask-Cors
flatbuffers
fonttools
fpdf2
frozenlist
fsspec
ftfy
future
git-python
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpath-python
jsonpointer
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters
langcodes
langdetect
langfuse
langsmith
language_data
lark
ldap3
lxml
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mmh3
monotonic
mpmath
msoffcrypto-tool
multidict
multiprocess
murmurhash
mypy-extensions
nest-asyncio
networkx
ninja
nltk
numpy
oauthlib
olefile
oletools
onnxruntime
open-webui
openai
opencv-python
opencv-python-headless
openpyxl
opensearch-py
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
parso
passlib
pathspec
pcodedmp
peewee
peewee-migrate
